<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sungkyul.moji">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.DIAL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/moji"
        android:label="@string/app_name"
        android:roundIcon="@drawable/moji_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZ9I0sMC_FhqZg_M2phNGQ4Pm5Ht9TqJc" />

        <activity android:name=".MainActivity"></activity>

        <activity android:name=".intro.IntroActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--     수도권  /////////////////////////////////////////////////////////////////////////////////-->
        <activity android:name=".Sudokwon"/>
        <activity android:name=".Sudokwonlist"/>
        <activity android:name=".info.SudokwonInfo"/>
        <!--     대전  /////////////////////////////////////////////////////////////////////////////////-->
        <activity android:name=".Daejeon"/>
        <activity android:name=".Daejeonlist"/>
        <activity android:name=".info.DaejeonInfo"/>
        <!--     대구  /////////////////////////////////////////////////////////////////////////////////-->
        <activity android:name=".Daegu"/>
        <activity android:name=".Daegulist"/>
        <activity android:name=".info.DaeguInfo"/>
        <!--     광주  /////////////////////////////////////////////////////////////////////////////////-->
        <activity android:name=".Kwangju"/>
        <activity android:name=".Kwangjulist"/>
        <activity android:name=".info.KwangjuInfo"/>
        <!--     부산  /////////////////////////////////////////////////////////////////////////////////-->
        <activity android:name=".Busan"/>
        <activity android:name=".Busanlist"/>
        <activity android:name=".info.BusanInfo"/>
        <!--     노선도  /////////////////////////////////////////////////////////////////////////////////-->
        <activity android:name=".subway.Subwaymap" />
        <!-- 웹뷰 ////////////////////////////////////////////// -->
        <activity android:name=".KricInfo"/>
        <activity android:name=".KricHelp"/>
        <!-- 지도 ////////////////////////////////////////////// -->
        <activity android:name=".LocationMap"
            />

    </application>

</manifest>